/*
** Sarah's CSS file for normal basic version. 
** Some of these tags might be left empty so I can use it in another stylesheet. 
** "Shadow" 
*/


/* ================ MY NAME ================ */
.title {
  padding-top: 15px;
  text-align: center;
  /* text-shadow: -1px 1px 1px black; <- 1st attempt*/
  text-shadow: -1px 2px 6px rgba(0,0,0,0.8);
  color: white;
}

/* ================ BODY ================ */
body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

.content-box {
  //margin-left: 20%;
  //margin-right: 20%;
  //margin-top: 20px;
  //padding: 30px;
  //padding-top: 15px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  rotate: -2deg;
}

/* ================ BUTTONS ================ */
.button {
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.right-button {

}

/* ================ THEME BUTTONS ================ */
.dropbtn {
  cursor: pointer;
  /* position: absolute; <- Trying to get it to not interact with the title */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  margin: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1; 
  overflow: hidden;
}

.dropdown-content p {
  padding: 12px 16px;
  margin: 0;
  display: block;
  cursor: pointer; 
}

.dropdown-content p.active {background-color: cyan;} /* CHANGE tHIS COlOUR */

.dropdown-content p.active:hover {background-color: lightblue;}

.dropdown-content p:hover {background-color: #f1f1f1} 

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9; 
}

/* ================ SEASON BUTTONS ================ */
#seasonText{
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    overflow: hidden;
    display: inline-block;
    
    /* CURRENT PROBLEM: not exactly fitting in this gap */
    width: 88%; 
    /* ANOTHER PROBLEM: not quite inline with the first button */
                
}

/* ================ SIGNATURE THANG ================ */
.sign {
  text-align: right; 
  margin-right: 20%;
  font-size: small;
  color: white;
  text-shadow: -1px 2px 4px rgba(0,0,0,0.6);
}


